@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}
/*L' etoile "*" est un sélécteur universel visant
* absolument toutes les balises HTML
*/
* {
    margin: 0;
}
/*Configuration du document*/

/* configuration de la police pour les balises headding*/
body {
    font-family: var(--font-body);
    font-size: 16px;
    background-color: var(--gray-light);
}
/* la virgule permet de spécifier plusieurs éléments et/ou classe CSS utilsant les 
*mêmes proprieteés CSS*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}
.container {
    width: 90%;
    margin: auto;
}
/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
/*version téléphone mobile*/
/*Cache le menu desktop sur la version mobile*/
.menu-desktop {
    display: none;
}
/*Header*/
header {
    text-align: center;
    padding: 100px 0;
}
/*Taille du titre h1*/
header h1 {
    font-size: 2.5rem;
}
/*Taille p*/
header p {
    font-size: 1.2rem;
    padding-top: 20px;
}
header img {
    width: 80%;
    margin: 100px auto; /* marge 100px haut/bas et en auto gauche/droite*/
}
/*main CSS*/
main .card-project {
    margin: 50px 0;

}
main .card-project img {
    width: 100%;
    border-radius: 5px;
}
main .card-project h2 {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: normal;            /*enlève l'épaisseur de la police de caractère*/
}
/*Rappel bouton*/
.btn-light {
    color: var(--black);
    border: 1px solid var(--black);
    text-decoration: none;
    border-radius: 3px;
    padding: 12px;
    display: block;
    text-align: center;
}
/*Newsletter derniere image main*/

.newsletter {
    background-color: var(--gray);
    padding: 20px;
    margin-top: 80px;
}
/* grosseur image*/
.newsletter img {
    width: 100%;
}
/*grosseur de police h3*/
.newsletter h3 {
    font-size: 2rem;
    margin: 50px 0;
    width: 70%;         /*espace reduite pour retouner à la ligne*/
}
.btn-dark {
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    border-radius: 3px;
    padding: 12px 0;
    text-align: center;
    display: block;
}
/*footer*/
footer ul {
    list-style-type: none;
    display: grid;                              /*systeme de grille*/
    grid-template-columns: repeat(3, 1fr);      /* crée systeme celule repeat(3*1 fraction*/
    grid-gap: 10px;
    margin: 50px 0;
    padding: 0;
}
footer ul li {
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 12px;
    text-align: center;
}
footer ul li a {
    color: var(--black);
}